.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config/
.vscode/
build/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
# Firebase cache files
*.cache
*.firebaserc
firebase.json
database.rules.json